In [1]:
import pandas as pd

df=pd.read_csv('D:\\Datasets\\sna\\crime_data\\chicago_crimes2.csv')

In [2]:
{"Unnamed: 0":1095,"Community Area":30.0,"Primary Type":"CRIMINAL DAMAGE","Case Number":"HY101179","Date":"2015-01-01 20:00:00"}
{"Unnamed: 0":1097,"Community Area":22.0,"Primary Type":"BURGLARY","Case Number":"HY101228","Date":"2015-01-01 20:00:00"}

{'Unnamed: 0': 1097,
 'Community Area': 22.0,
 'Primary Type': 'BURGLARY',
 'Case Number': 'HY101228',
 'Date': '2015-01-01 20:00:00'}

In [3]:
df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.644050e+05,2.644050e+05,264405.000000,264405.000000,264403.000000,264405.000000,2.578990e+05,2.578990e+05,264405.0,257899.000000,257899.000000
mean,1.622484e+06,1.013515e+07,1143.983956,11.210949,22.814771,37.575012,1.164457e+06,1.885560e+06,2015.0,41.841575,-87.672036
std,2.546275e+06,4.670320e+05,690.751529,6.901154,13.783112,21.419776,1.646845e+04,3.120919e+04,0.0,0.085838,0.059942
min,6.000000e+00,2.171400e+04,111.000000,1.000000,1.000000,1.000000,1.094231e+06,1.813897e+06,2015.0,41.644590,-87.928909
25%,4.083330e+05,1.003363e+07,612.000000,6.000000,10.000000,23.000000,1.152408e+06,1.858593e+06,2015.0,41.767329,-87.715914
50%,4.749530e+05,1.014845e+07,1023.000000,10.000000,23.000000,32.000000,1.166064e+06,1.891472e+06,2015.0,41.857865,-87.666009
75%,5.415430e+05,1.026277e+07,1654.000000,16.000000,34.000000,57.000000,1.176389e+06,1.908452e+06,2015.0,41.904503,-87.627995
max,7.143692e+06,1.208331e+07,2535.000000,31.000000,50.000000,77.000000,1.205111e+06,1.951523e+06,2015.0,42.022575,-87.524615

In [4]:


df = df[~df.isnull().any(axis=1)]
df['Ward'] = df['Ward'].astype('int')

In [5]:
# df2 = df.drop(['Unnamed: 0', 'ID', 'Beat', 'X Coordinate', 'Y Coordinate', 'Year', 'Latitude', 'Longitude', 'IUCR','Ward','FBI Code', 'Updated On', 'Location', 'Arrest', 'Domestic', 'Location Description'], axis=1) # 'Case Number',

In [9]:
df2 = df

In [10]:
df2['Date'] = pd.to_datetime(df['Date'])

df2['weeknumber'] =  df2['Date'].dt.isocalendar().week # 1-53
df2['year'] =  df2['Date'].dt.isocalendar().year # 1-53

df2 = df2[['Description','Community Area', 'weeknumber','year']]

In [11]:
df2.head()

                               Description  Community Area  weeknumber  year
1           AGG SEX ASSLT OF CHILD FAM MBR            30.0           1  2015
3      FINANCIAL IDENTITY THEFT OVER $ 300            22.0           1  2015
6      FINANCIAL IDENTITY THEFT OVER $ 300            25.0           1  2015
7                                PREDATORY            10.0           1  2015
8  FINANCIAL IDENTITY THEFT $300 AND UNDER             8.0           1  2015

In [12]:
for i in range(1,54):
  df2[df2['weeknumber']==i].to_csv(f'D:\\Datasets\\sna\\crime_data\\weeks\\chicago_crimes_week{i}.csv', index=False)

In [13]:
# most common word of describing a crime per week
df2.to_csv('D:\\Datasets\\sna\\crime_data\\crimes_in_chicago_streamdata.csv', index=False)